:root{
    --color-scorpion: #5d5c5d;
    --color-pale-slate: #bcbbbc;
    --color-yellow-orange: #ffa837;
    --color-tulip-tree:#df912c;
    --color-deep-cove: #051745;
    --color-science-blue:#0369d7;
    --color-science-blue-dark: #0059b7;
    --color-alabaster:#f8f8f8;
    

}